
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

<div  style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Ingreso</h5>
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" placeholder="usuario"  formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" >
      <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
        <div *ngIf="f.usuario.errors.required">Usuario es requerido</div>
        <div *ngIf="f.usuario.errors.email">Debe ser una dirección de email válida</div>
    </div>
    </div>
    <div class="form-group">
      <label for="pasword">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password"  formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password es requerida</div>
          <div *ngIf="f.password.errors.minlength">Password debe tener al menos 3 caracteres</div>
      </div> 
    
    </div>
    <div class="form-group">
      <button  class="btn btn-primary">Entrar</button>
    </div>
    <!--
    <button type="submit" class="btn btn-primary" (click)="login()"  >Entrar</button>-->
  </div>
</div>
</form>