
<div><strong>Results for contacto@tuten.cl</strong></div>
<p></p>
<ag-grid-angular 
    style="width: 1000px; height: 300px;" 
    class="ag-theme-balham"
    
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    >
</ag-grid-angular>



